* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: gray;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
}

header {
    padding: 15px 35px;
    background-color: rgb(26, 33, 42);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: grey;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: peru;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    border-bottom: solid 3px peru;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: aquamarine;
    color: peru;
    text-shadow: none;
}

.hero {
    background-image: url("../images/hero-bg-4.png");
    height: 350px;
    background-size: cover;
    background-position: top;
    position: relative;
}

.hero-subtitle {
    background-color: aquamarine;
    padding: 20px;
    width: 450px;
    color: peru;
    border: solid 3px rgb(26, 33, 42);
    position: absolute;
    bottom: 30px;
    right: 60px;
    box-shadow: 5px 10px #888888;
}

.hero-subtitle h3 {
    font-size: 18px;
    margin: 0;
   
}

.about-me h2 {
    padding-top: 50px;
    text-align: left;
    font-size: 40px;
    font-style: italic;
}

.about-me p {
    text-align: left;
}

.about-me-content p {
    text-align: left;
}

.work h2 {
    padding-top: 50px;
    text-align: left;
    font-size: 40px;
    font-style: italic;
}

.project-1 {
    background-image: url("../images/IMG_7216.png");
    height: 450px;
    background-size: cover;
    background-position: bottom;
    position: center;
    width: 70%;
    
}

.project-1 a {
    background-color: aquamarine;
    font-size: 24px;
    text-decoration: none;  
    position: center; 
    width: 100%;
    text-align: center;
}


.project-1 a:hover {
    background: rgb(26, 33, 42);
    color: peru;
    text-decoration: none;
}

.project-2 {
    background-image: url("../images/IMG_5495.png");
    height: 400px;
    background-size: cover;
    background-position: bottom;
    text-align: center;
    width: 100%;
}

.project-2 a {
    background-color: aquamarine;
    font-size: 24px;
    text-decoration: none;
    position: center;
    text-align: center;
}

.project-2 a:hover {
    background: rgb(26, 33, 42);
    color: peru;
    text-decoration: none;
}

.project-3 a {
    background-color: aquamarine;
    font-size: 24px;
    text-decoration: none;
    padding: 5px; 
}

.project-3 a:hover {
    background: rgb(26, 33, 42);
    color: peru;
}

.project-4 {
    background-image: url("../images/trivializer.png");
    height: 350px;
    background-size: cover;
    background-position: top;
    position: absolute;
    float: right;
    width: 30%;
    margin-right: 470px;
    margin-left: 500px;
    
}

.project-4 a {
    background-color: aquamarine;
    font-size: 24px;
    text-decoration: none;
    padding: 5px; 
}

.project-4 a:hover {
    background: rgb(26, 33, 42);
    color: peru;
}

.contact-me h2 {
    font-size: 40px;
    font-style: italic;
    padding: 50px;
    display: inline;
}

.contact-me nav {
    float: right;
    margin: 15px 20px;
    padding-left: 50px;
    padding-right: 170px;
}

.contact-me nav ul li {
    display: inline-flex;
}

.contact-me nav ul li a {

    margin: 0 70px 0 10px;
    font-weight: lighter;
    font-size: 18px;
}

.contact-me nav ul li a:hover {
    background: aquamarine;
    color: peru;
}

.resume h2 {
    font-size: 40px;
    font-style: italic;
    padding: 50px;
    display: inline;
}

.resume a {
    float: right;
    font-size: 50px;
    right: 400px;
    bottom: 25px;
    padding-right: 500px;
    padding-left: 100px;
}

.profile-pic {
    width: 20%;
    height: 200px;
    margin-top: 80px;
    background-image: url("../images/profile.png");
    background-size: cover;
    position: relative;
    display: flex;
    background-position: top;
    border: solid 4px rgb(26, 33, 42);
    box-shadow: 5px 10px #888888;
} 

footer {
    background: rgb(26, 33, 42);
    width: 100%;
    padding: 30px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: peru;
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1;
}

.content-spacer {
    width: 100%;
    height: 40px;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
 
         header h1 {
             width: 100%;
             text-align: center;
         }
 
         header nav ul {
             margin-top: 20px;
             width: 100%;
             justify-content: center;
         }
 
         header nav ul li a {
             font-size: 20px;
         }

         .about-me {
             text-align: left;
         }

         .about-me p {
             text-align: left;
         }

         .work {
           width: 100%;  
           text-align: center;
           margin-bottom: 100px;
         }

         .project-1 {
             width: 100%;
         }

         .project-2 {
             position: center;
             flex-wrap: wrap;
             float: none;
         }

         .project-3 {
             position: center;
             flex-wrap: wrap;
             float: none;
             margin: auto;
         }

         .resume h2 {
             flex-wrap: wrap;
         }

         .resume a {
             text-align: center;
             width: 100%;
             padding-left: 100px;
             padding-right: 100px;
             /*
             padding-right: 50px; */
         }
 
         footer h2, footer div {
             text-align: center;
             width: 100%;
         }
 
         .section, .hero, .hero-subtitle {
             width: 100%;
             text-align: center;
         }

         .profile-pic {
             display: none;
             overflow: hidden;
         } 
     
}
 
    

    
 
