/* universal selctor to remove default browser-enforced styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* overall font color */
body {
    color: gray;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
}

/* styles to <header> */
header {
    padding: 15px 35px;
    background-color: rgb(26, 33, 42);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* takes out bullet points from list items */
ul {
    list-style-type: none;
}

/* style to header h1 element */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: grey;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/* style to header a elements */
header a {
    text-decoration: none;
    color: peru;
}

/* moves navigation links to the right of h1 in header */
header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/* isolates styling to navigation links only, creates space between with margin, lighter font color, adjusts font size */
header nav ul li a {
    margin: 0 30px;
    border-bottom: solid 3px peru;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: aquamarine;
    color: peru;
    text-shadow: none;
}

/* gives each section padding */
section {
    width: 100%;
    margin: 0 auto;
    padding: 60px;
}

/* Hero Style Start */
.hero {
    background-image: url("../images/hero-bg-4.png");
    height: 350px;
    background-size: cover;
    background-position: top;
    position: relative;
}

.hero-subtitle {
    background-color: aquamarine;
    padding: 20px;
    width: 450px;
    color: peru;
    border: solid 3px rgb(26, 33, 42);
    position: absolute;
    bottom: 30px;
    right: 60px;
    box-shadow: 5px 10px #888888;
}

.hero-subtitle h3 {
    font-size: 18px;
    margin: 0;
   
}
/* Hero Style End*/


/* About Me Style Start */
.about-me h2 {
    font-size: 40px;
    font-style: italic;
    padding: 50px;
    display: inline;
   
}

.about-me-content {
    float: right;
    width: 70%;
    text-align: center;
}

/* Work heading */
.work h2 {
    font-size: 40px;
    font-style: italic;
    padding: 50px;
    display: inline;
    height: 350px;
}

/* Project 1 Style Start */
.project-1 {
    background-image: url("../images/run-buddy.png");
    height: 350px;
    background-size: cover;
    background-position: bottom;
    position: relative;
    float: right;
    width: 70%;
    
}

.project-1 a {
    background-color: aquamarine;
    font-size: 24px;
    text-decoration: none;
    padding: 5px; 
}

.project-1 a:hover {
    background: rgb(26, 33, 42);
    color: peru;
}

/* Project 2 Style Start */
.project-2 {
    background-image: url("../images/horiseon.png");
    height: 350px;
    background-size: cover;
    background-position: bottom;
    position: relative;
    float: right;
    width: 30%;
    margin-right: 470px;
    
}

.project-2 a {
    background-color: aquamarine;
    font-size: 24px;
    text-decoration: none;
    padding: 5px; 
}

.project-2 a:hover {
    background: rgb(26, 33, 42);
    color: peru;
}

/* Project 3 Style Start */
.project-3 {
    background-image: url("../images/robot.png");
    height: 350px;
    background-size: cover;
    background-position: top;
    position: absolute;
    float: right;
    width: 30%;
    margin-right: 470px;
    margin-left: 800px;
    
}

.project-3 a {
    background-color: aquamarine;
    font-size: 24px;
    text-decoration: none;
    padding: 5px; 
}

.project-3 a:hover {
    background: rgb(26, 33, 42);
    color: peru;
}

/* contact me section  styling */
.contact-me h2 {
    font-size: 40px;
    font-style: italic;
    padding: 50px;
    display: inline;
} 

.contact-me nav {
    float: right;
    margin: 15px 0;
}

/* makes the list into one line instead of each one getting its own line */
.contact-me nav ul li {
    display: inline;
}

/* isolates styling to navigation links only, creates space between with margin, lighter font color, adjusts font size */
.contact-me nav ul li a {
    margin: 0 25px;
    font-weight: lighter;
    font-size: 18px;
}

.contact-me nav ul li a:hover {
    background: aquamarine;
    color: peru;
}

/* resume stylings */

.resume h2 {
    font-size: 40px;
    font-style: italic;
    padding: 50px;
    display: inline;
}

.resume a {
    float: right;
    position: relative;
    right: 400px;
    bottom: 25px;
}

.resume a:hover {
    background: aquamarine;
    color: peru;
}


.profile-pic {
    width: 20%;
    height: 200px;
    margin-top: 80px;
    background-image: url("../images/profile.png");
    background-size: cover;
    position: relative;
    display: flex;
    background-position: top;
    border: solid 4px rgb(26, 33, 42);
    box-shadow: 5px 10px #888888;
} 


/* style for the footer */
footer {
    background: rgb(26, 33, 42);
    width: 100%;
    padding: 30px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* For the text on the left */
footer h2 {
    color: peru;
    font-size: 30px;
    margin: 0;
}

/* for the text on the right */
footer div {
    line-height: 1;
}

.content-spacer {
    width: 100%;
    height: 40px;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
 
         header h1 {
             width: 100%;
             text-align: center;
         }
 
         header nav ul {
             margin-top: 20px;
             width: 100%;
             justify-content: center;
         }
 
         header nav ul li a {
             font-size: 20px;
         }

         .about-me {
             width: 100%;
             text-align: center;
             margin-bottom: 100px;
         }

         .work {
           width: 100%;  
           text-align: center;
           margin-bottom: 100px;
         }

         .project-1 {
             width: 100%;
         }

         .project-2 {
             position: center;
             flex-wrap: wrap;
             float: none;
         }

         .project-3 {
             position: center;
             flex-wrap: wrap;
             float: none;
             margin: auto;
         }

         .resume h2 {
             flex-wrap: wrap;
         }

         .resume a {
             text-align: center;
             width: 100%;
             padding-left: 850px;
         }
 
         footer h2, footer div {
             text-align: center;
             width: 100%;
         }
 
         .section, .hero, .hero-subtitle {
             width: 100%;
             text-align: center;
         }

         .profile-pic {
             display: none;
             overflow: hidden;
         } 
     
}
 
    

    
 
